body.page-template-events{
  .ai1ec-main-container {
    margin: 0 2.0em 2.0em;
  }
  .ai1ec-subscribe-dropdown{
    margin-bottom: 2.0em;
  }
  h4{ 
    font-family: $primayHeaderFont;
    background-color: $primaryBlue;
    color:#fff;
    padding: 0.05em 0 0.05em 0.5em;
  }
  .report_feed_container{
    @media only screen and (max-width: 40em) {
      padding: 0.5em;
    }
  }
}

body.single-ai1ec_event{
  h4{
    text-transform: uppercase;
  }
}

.ai1ec-views-dropdown, .ai1ec-btn-toolbar{
  display:none!important;
}
.ai1ec-calendar-toolbar {
  background-color: #fff!important;
  border: none!important;
  border-radius: 6px!important;
  margin-bottom: 0px!important;
  padding: 0 8px!important;
}