.fixed_nav{
  width:100%;
  position:fixed;
  z-index:999;
}

.menu-icon{
  position:absolute;
  right:1.0em;
  top:1.5em;
}
$menu-background: $blackTrans;

.fadeInBlock {
  opacity:0;
  transition: all 0.2s ease-in-out;
}
.title-bar {
  background: $menu-background;
  padding: 0.9rem;
}

.top-bar {
  background: $menu-background;
  padding: 1.25em 0 1.75em;
  ul {
    background: none;
    padding-right:1.0em;
    > li {
      // background: none!important;
      position:relative;
      a {
        color: #fff;
        font-size: 1.25em;
        font-family: $primayHeaderFont;
        font-weight: 600; 
        text-transform: capitalize;
      }
    }
  }
  @media only screen and (max-width: 1040px) {
    .top-bar-right{
      width:100%;
    }
  }
}


/* Underline From Center */
// .hvr-underline-from-center {
//   display: inline-block;
//   vertical-align: middle;
//   -webkit-transform: translateZ(0);
//   transform: translateZ(0);
//   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
//   -moz-osx-font-smoothing: grayscale;
//   position: relative;
//   overflow: hidden;
// }
// .hvr-underline-from-center:before {
//   content: "";
//   position: absolute;
//   z-index: -1;
//   left: 50%;
//   right: 50%;
//   bottom: 0;
//   background: $blackTrans;
//   height: 4px;
//   -webkit-transition-property: left, right;
//   transition-property: left, right;
//   -webkit-transition-duration: 0.3s;
//   transition-duration: 0.3s;
//   -webkit-transition-timing-function: ease-out;
//   transition-timing-function: ease-out;
// }
// .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
//   left: 0;
//   right: 0;
// }


.menu-text {
  color: #fff;

  @media only screen and (max-width: 40em) {
    display: none !important;
  }
}

@media only screen and (min-width: 40em) {
  .menu:last-child {
    // border-left: 1px solid #4e4e4e;
  }

  .menu:first-child {
    border-left: none;
  }

  .menu {
    li:not(:last-child) {
      border-right: none;
    }
  }
}

.dropdown.menu .submenu {
  border: none;
  width:120%;
  z-index:666;
  padding: 1.75em 0 0.5em 0.5em;
  li{
    border-top: 1 px solid #e5e5e5;
    background-color: $blackTrans;
    @media only screen and (max-width: 639px) {
      background-color: $blackish;
    }
    &:hover{
      background-color: $blackish;
    }    
  }
  @media only screen and (max-width: 1040px) {
    padding: 1.75em 0 0.5em 0.5em;
  }
}

.dropdown.menu .submenu.biggap{
  padding: 3.0em 0 0.5em 0.5em;
  @media only screen and (max-width: 1040px) {
    padding: 1.65em 0 0.5em 0.5em;
  }
  @media only screen and (max-width: 639px) {
    padding: 0.05em 0 0.5em 0.5em;
    li > a{
      padding-left:3.0em;
    }
  }
}
.is-dropdown-submenu{
  @media only screen and (max-width: 639px) {
    display: block;
    position: static;
  }
}
.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
  border-color: #fff transparent transparent;
}

.is-drilldown-submenu-parent>a::after {
  border-color: transparent transparent transparent #fff;
}

.js-drilldown-back::before {
  border-color: transparent #fff transparent transparent;
}