/* ============================================================
  ARCHIVE PAGE
============================================================ */
.interior_hero{
  margin-bottom: 0em;
}
.river_archive_hero{
  background-image: url(../images/oregon_map.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $blackish;
  padding-top: 126px;
  text-align: center;
  height: calc(100vh - 60%);
  img{
    opacity: 0.8;
  }
}
.report_feed_container{
  margin-top: 1.0em;
}
h2.usgs_river_name{
  margin-bottom: 0.15em !important;
  font-family: $primayHeaderFont !important;;
}
h3.river_sub_title{
  font-family: $primayHeaderFont;
  font-size: 1.5em;
  font-weight:600;
  color:$dk_gray;
}

.report_feed{
  @include clearfix;
  height:400px;
  overflow: hidden;
  margin:0 0 1.0em 0;
  figure {
    position: relative;
    float: left;
    overflow: hidden;
    min-width: 320px;
    width: 100%;
    height:100%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    
    object-fit: cover;
  }

  figure img {
    position: relative;
    display: block;
    width:100%;
    height: auto;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    object-fit: cover;
  }

  figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  figure figcaption::before,
  figure figcaption::after {
    pointer-events: none;
  }

  figure figcaption,
  figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Anchor will cover the whole item by default */
  /* For some effects it will show as a button */
  figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
  }

  figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
  }

  figure h2 span {
    font-weight: 800;
    display: block;
  }

  figure h2,
  figure p {
    margin: 0;
  }

  figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
  }
  /*---------------*/
  /***** oscar_report *****/
  /*---------------*/

  figure.effect-oscar_report {
    background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
    background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
  }

  figure.effect-oscar_report img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }

  figure.effect-oscar_report figcaption {
    padding: 3em;
    background-color: rgba(58,52,42,0.7);
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
    &:hover{
      padding-top: 30%;
    }
  }

  figure.effect-oscar_report figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
  }

  figure.effect-oscar_report h2 {
    margin: 0% 0 10px 0;
    font-family: $secondayHeaderFont;
    line-height: 1.0em;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    @include breakpoint(1600px) {
      margin: 15% 0 10px 0
    }
    @include breakpoint(639px down) {
      margin: 30% 0 10px 0
    }
  }

  figure.effect-oscar_report figcaption::before,
  figure.effect-oscar_report p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  figure.effect-oscar_report:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    @include breakpoint(1600px) {
      margin: 15% 0 10px 0;
    }
  }

  figure.effect-oscar_report h2.long_h2{
    margin: 0% 0 10px 0;
    &:hover{
      margin: 30% 0 10px 0;
    }
  }

  figure.effect-oscar_report:hover figcaption::before,
  figure.effect-oscar_report:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  figure.effect-oscar_report:hover figcaption {
    background-color: rgba(58,52,42,0);
  }

  figure.effect-oscar_report:hover img {
    opacity: 0.4;
  }
}
/* End of callout specific hover effects */

.species_box{
  width: 100%;
  margin-bottom: 1.5em;
}
ul.species_list{
  list-style: none;
  margin: 0 1.75em;
}
ul.hatch_list{
  background-color: rgba(255,255,255,0.5);
  padding:1.0em;
  margin-left:0;
}
#weather_icon{
  font-size: 4.0em;
  text-align: center;
  margin: 0 .2em 0 0;
  display: inline-block;
  float: left;
  background-color: #222;
  color: #fff;
  padding: 0.25em 0.45em 0.15em 0.45em;
}
.weather_block{
  display:block;
  clear: both;
}
.map { 
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%; 
}

.map-block{
  display: block;
  position: relative;
  width:100%;
  height:500px;
  padding:0!important;
}
div.hot_flies{
  background-color: rgba(255,255,255,0.5);
  padding:1.0em 0 0.5em;
}
.extended_links{
  a{  
    display: block;
    margin-bottom: 1.0em;
    color:#fff;
    background-color: $blackboard;
    padding:0.5em 3.5em 0.5em 1.5em;
    width:35%;
    &:hover{
      background-color: rgba($blackboard, 0.5);
    }
  }
}
.sidebar{
  padding: 0 1.5em;
  h3{
    margin-top: 2.0em;
    font-family: $primayHeaderFont;
    font-weight: 700;
    &:first-child{
      margin-top: 0;
    }
  }
   a{  
      display: block;
      margin-top: 1.0em;
      color:#fff;
      background-color: $blackboard;
      padding:0.5em 3.5em 0.5em 1.5em;
      width:100%;
      &:hover{
        background-color: rgba($blackboard, 0.5);
      }
    }
  p.rss_title{
    margin-top: 0;
  }
  #rss-feeds{
    p{
      margin-bottom: 0;
    }
  }
}


/* ============================================================
  SINGLE SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  @media only screen and (max-width: 40em) {
    padding: 10px 0 40px;
  }
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  @media only screen and (max-width: 40em) {
    padding-top: 3.0em;
    line-height: 100px;
  }
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 18px;
    line-height:2.0em;
  }
  section.module.parallax h1 {
    font-size: 4.0em;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 5.0em;
  }
}

h6.species_title{
  width:100%;
  text-align: center;
  font-size: 1.0em;
  font-family: $primayHeaderFont;
  font-weight: 700;
}
#rss-feeds{
  background-color: rgba(255,255,255,0.5);
  padding:1.0em;
}
.card-block{
  margin-bottom: 2.0em;
  h2{
    font-family: $primayHeaderFont!important;
    font-weight: 600;
  }
  h3{
    font-family: $primayHeaderFont!important;
    font-weight: 600;
  }
  p{
    background-color: rgba(255,255,255,0.5);
    padding:1.0em;
  }
}
