section.staff_thumbs{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width:100%;
	max-width:$max-width;
	margin: 0 auto;
	padding: 1.0em 1.0em;
	text-align:center;
}
a.staff_block{
	display:block;
	width:30%;
	opacity:1;
	transition: 1.5s ease-out all;
	margin-top:0.5em;
	img{
		width:80%;
		margin:0 auto;
		display:block;
	}
	&:hover{
		opacity:0.6;
	}
	@media only screen and (max-width: 40em) {
      width:50%;
    }
    @media only screen and (max-width: 400px) {
      width:100%;
    }
}
span.staff_name{
	color:$blackboard;
	display:block;
	font-size: 1.5em;
	font-weight:600;
}
span.staff_title{
	color:$blackboard;
	display:block;
}
div.bio_col{
	text-align:center;
	padding:2.0em;
	h1{
		text-align: center;
		background-color: #fff;
		display:inline-block;
		font-size: 2.0em;
		position: relative;
		padding:0 0.25em;
	}
	p.bio_block{
		margin-top: -1.95em;
		padding-top:2.0em;
		border-top: 1px solid $oxblood;
	}
}
div.thumb_col{
	img{
		width: 80%;
		display:block;
		margin:2.0em auto;
	}
}
body.single-staff{
	section.module.parallax h1{
		    text-shadow: 0 0 10px rgba(0,0,0,0.7);
	}
}
