body.page-template-trips{
	.trip-row{
		position:relative;
		max-width: 100%;
		width:100%;
		background-color: #fff;
	}
	.trip_page_content{
		background-color: #fff;
	    padding: 40px 4em !important;
	    margin: 0 auto;
	    max-width: 1600px;
	    @media only screen and (max-width: 768px) {
	    	padding:40px 2em !important;
	    }
	}
	h2.mobile_title{
		display:none;
		font-family: $primayHeaderFont;
	}
	@media only screen and (max-width: 1200px) {
		.river_title{
			visibility:hidden;
		}
		h2.mobile_title{
			display:block;
		}
	}
	@media only screen and (max-width: 768px) {
		.river_title{
			display:none;
		}
		.trip-row{
			margin-top: 10px!important;
		}
	}
	
}

.book_trip_container{
	button{
		margin-bottom: 2.0em;
	}
	h2{
		width:100%;
		background-color: $blackboard!important;
		color:#fff;
		padding: 0.125em 1.0em;
		margin-bottom: 0.25em!important;
		font-family: $primayHeaderFont!important;
		@media only screen and (max-width: 768px) {
			font-size: 23px!important;
			padding: 0.5em 1.0em;
		}
	}
	p{
		margin-bottom: 0.5em!important;
	}
}